* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('./images/cursor1.png'), auto;
}

@font-face {
  font-family: 'Mono';
  src: url('../assets/fonts/GeistMonoVF-BF65694d06478d9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mono';
  src: url('../assets/fonts/GeistMono-Bold-BF65694d053b6e4.otf') format('truetype');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Mono';
  src: url('../assets/fonts/GeistMono-Black-BF65694d04ad722.otf') format('truetype');
  font-weight: 900;
  /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Mono';
  src: url('../assets/fonts/GeistMono-Regular-BF65694d05471c0.otf') format('truetype');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Mono';
  src: url('../assets/fonts/GeistMono-Medium-BF65694d060c7bc.otf') format('truetype');
  font-weight: 500;
  /* Medium */
  font-style: normal;
}




body {
  font-family: "Mono", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url('./images/gridd.png');
  background-color: #0a0a0a;
  cursor: url('./images/cursor1.png'), auto;
  position: relative;
  height: 100vh;
  color: #fff;
}

.bg-shadow {
  margin-top: -510px;
  z-index: -1;
  position: absolute;
  width: 700px;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
}

.shape {
  margin-top: -400px;
  margin-left: -300px;
  z-index: -1;
  position: absolute;
  width: 700px;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
}

.bg-shadow-two {
  margin-top: -510px;
  z-index: -1;
  position: absolute;
  width: 700px;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
}



.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 20px;
}

.main-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: auto;
  padding: 10px 0;
}

.logo-text {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  text-align: center;
  margin: 0;
}

.logo-text span {
  color: #5983EA;
  font-optical-sizing: auto;
  font-size: 26px;
  font-style: normal;
}



nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

nav ul li {
  position: relative;
  margin-right: 10px;
}

.message-box {
  display: none;
}

nav ul li a {
  text-decoration: none;
  color: #e0f5fb;
  font-size: 17px;
  font-family: "Mono", sans-serif;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, padding 0.3s ease;
  cursor: pointer;

}

nav ul li a:hover {
  background-color: rgba(221, 234, 249, 0.4);
  backdrop-filter: blur(5px);
  color: #f1fcff;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
}


nav ul li a.active {
  background-color: rgba(221, 234, 249, 0.4);
  backdrop-filter: blur(5px);
  color: #f1fcff;
  border-radius: 5px;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  top: 200%;
  left: -170%;
  border-radius: 10px;
  background-color: rgba(221, 234, 249, 0.4);
  backdrop-filter: blur(5px);
  padding: 10px 0;
  z-index: 1;
  width: 300px;
}

.dropdown-content li {
  padding: 10px;
}

.mored:hover {
  padding: 22px;
}

.dropdown-content li a {
  display: block;
  padding: 8px 16px;
  color: #f1fcff;
}

.dropdown-content li a:hover {
  background-color: #c5c5c5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.dropdown:hover .arrow {
  transform: rotate(90deg);
}

main {
  display: block;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

h1 {
  font-family: "Mono", sans-serif;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 12px;
  color: #fff;
  margin: 0;
}

.h1-bio {
  font-family: "Mono", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #b8b8b8;
}

.text-section {

  display: flex;
  justify-content: center;
  width: 800px;
  margin: 40px auto;
}

.contact-button {
  margin-top: 30px;
  font-family: "Mono", sans-serif;
  background-color: #6693F2;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.more-about-button {
  margin-top: 30px;
  font-family: "Mono", sans-serif;
  background-color: #2E2D2D;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.contact-button:hover {
  background-color: #87b0fb;
}

.more-about-button:hover {
  background-color: #383838;
}

.arrow {
  margin-left: 10px;
}

.contact-button:hover .arrow,
.more-about-button:hover .arrow {
  transform: translateX(5px);
}

.stats-section {
  margin-top: 20px;
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: background-color 0.3s ease, padding 0.3s ease;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  transition: color 0.3s ease;
  cursor: pointer;
}

.stats-div {
  display: flex;
  align-items: center;
  width: 100%;
  color: #B9B9B9;
  justify-content: center;
  transition: color 0.3s ease;
  cursor: pointer;
}

.stats-div:hover {
  display: flex;
  align-items: center;
  color: #ffffff;
  transition: color 0.3s ease;
  cursor: pointer;
}

.stats-div img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  transition: background-color 0.3s ease, padding 0.3s ease;
  cursor: pointer;
}

a {
  font-family: "Mono", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  color: #B9B9B9;

}


.aboutme-section {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.aboutme-container {
  width: 800px;
  height: 500px;
}


.p-main {
  font-family: "Mono", sans-serif;
  font-size: 31px;
  font-weight: 800;
}

.p-span {
  color: #5983EA;
}

.p-bio {
  width: 800px;
  margin-top: 20px;
  color: #B9B9B9;
  text-align: left;
}

.githubpng {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-right: 10px;
}

.cntact-rtw-button {
  margin-top: 29px;
  font-family: "Mono", sans-serif;
  background-color: #292828;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.cntact-rtw-button:hover {
  background-color: #383838;
}

.buttons {
  display: flex;
  justify-content: flex-start;
}

.technologies-section {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
}

.technologies-container {
  width: 800px;
  margin-bottom: 100px;
}

.p-main-tech {
  font-family: "Mono", sans-serif;
  font-size: 31px;
  font-weight: 800;
}

.p-main-tech-span {
  color: #5983EA;
}

.p-bio-tech {
  margin-top: 5px;
  color: #B9B9B9;
  width: 800px;
  text-align: left;
}

.technologies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.react {
  margin-top: 15px;
  margin-bottom: -15px;
  display: flex;
  /* Utrzymanie flex w tym divie */
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #262626;
  background-color: #171717;
  color: #878787;
  cursor: pointer;
  transition: background-color 0.4s ease, border 0.4s;
}

.react:hover {
  background-color: #333333;
  border: 1px solid #7c7c7c;
}

.p-raect {
  display: flex;
  /* Utrzymanie flex */
  justify-content: center;
  /* Wyrównanie poziome */
  align-items: center;
  /* Wyrównanie pionowe */
  font-size: 16px;
  cursor: pointer;
}

.img-react {
  margin-right: 5px;
  /* Możesz dodać margines po prawej stronie dla lepszej estetyki */
  width: 24px;
  cursor: pointer;
}


@media (max-width: 1024px) {
  .logo-text {
    font-size: 1.6rem;
    /* Use rem */
  }

  h1 {
    font-size: 2rem;
    /* Use rem */
  }

  .h1-bio {
    font-size: 1rem;
    /* Use rem */
  }
}

@media (max-width: 850px) {

  .main-section,
  .text-section,
  .stats-section,
  .aboutme-section,
  .technologies-section {
    display: none;
  }

  /* Centered message box */
  .message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #333;
    font-family: "Mono", sans-serif;
    font-size: 16px;
  }
}